.result_btn {
    display: block;
    width: 100%;
    padding: 24px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    background: #5D5FEF;
    border: none;
    border-radius: 6px; 
}